<!doctype html>
<html lang="en">
  <head>
    {% include 'head_includes.html' %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Ohio Family Survival Store</title>
    {% endif %}
  </head>
  <body class="standard" role="document">
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="wrapper container">
      <div class="preHeader">
        {% include 'preheader.html' %}
      </div> <!-- end preHeader -->
      <div class="header">
        {% include 'header.html' %}
      </div> <!-- end header -->
      <div class="main">
        <div class="row">
          <div class="col-md-9">
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-3">
            {% include 'sidebar.html' %}
          </div>
        </div>
        <div id="push"></div>
      </div> <!-- end main -->
      <div class="footer">
        {% include 'footer.html' %}
      </div> <!-- end footer -->
      {% include 'body_includes.html' %}
    </div> <!-- end wrapper -->
  </body>
</html>